.meetOurTeamSection {
  padding: 2.5rem 0;
}

.meetOurTeamSection img {
  width: 100%;
  object-fit: cover;
  border-radius: 12px;
}
.meetOurTeamSection h3 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #333;
}

.teamMembersGrid {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
}

@media (min-width: 768px) {
  .meetOurTeamSection {
    padding: 5rem 0;
  }

  .teamMembersGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .teamMembersGrid {
    grid-template-columns: repeat(4, 1fr);
  }
}
