.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.headerBg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem 0;
  background: url("/hero-bg.webp") no-repeat center center/cover;
  height: 360px;
  font-size: 1.4rem;
  color: #fff;
}

.header p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-top: 2rem;
}

.header a {
  font-size: 1.2rem;
}

.header hr {
  border: 0;
  height: 1px;
  background-color: #c8c8cc;
  width: 100%;
  margin: 1.5rem 0;
}

@media (min-width: 768px) {
  .headerBg {
    height: 500px;
    font-size: 3rem;
  }
}
